
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #203259, #63759b);
  color: #eaf0eb;
  text-align: center;
}

h1 {
  margin: 20px 0 5px;
  font-size: 2rem;
  animation: fadeIn 1.2s ease;
}

p {
  margin: 5px 0 20px;
  font-size: 1rem;
  animation: fadeIn 1.5s ease;
}

.hero img {
  width: 90%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  animation: fadeIn 1.8s ease;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.photo-card {
  width: 200px;
  
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.wish p {
  max-width: 400px;
  margin: 0 auto 20px;
  font-size: 1rem;
  line-height: 1.4;
}

footer p {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}

@media(max-width: 600px){
  .gallery {
    gap: 10px;
  }

  .photo-card {
    width: 200px;
  }

  .hero img {
    width: 95%;
  }
}
